body {
	background-color: #000000;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	height: 100%;
	}
.logo {
	position: absolute;
	top: 50%;
	left: 50%; 
	height: 109px;
	width: 600px;
	margin-top: -320px;
	margin-left: -300px;
	display: block;
	}
.lst {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 350px;
	width: 850px;
	margin-top: -185px;	
	margin-left: -450px;
	color: #768f88;
	font-size: 70%;
	line-height: 140%;
	}
.gifcontainer{
	margin-top: 15px;
	background-color: #000000;
	}
.image-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.space{
	height:150px;
}
.txt1{
font-family: "Optimus Princeps";
font-style: oblique;
color: white;
}
.txt2{
color:red;
}
.column {
	float: left;
}
a:link {
	color: #768f88;
}
a:visited{
	color: #768f88;
}
